:root {
    /* CSS HEX Color Palette https://coolors.co/palette/edf2f4-d9ffed-009874-043f4b-222332 */
    --antiflash-white: #edf2f4ff;
    --mint-green: #d9ffedff;
    --jungle-green: #009874ff;
    --midnight-green: #043f4bff;
    --raisin-black: #222332ff;
}