@import '../styles/colors.css';

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.Navbar {
  background-color: var(--antiflash-white);
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; /* Optional: Limit the page width */
  margin-top: 20px;

}

.Nav-logo {
  width: 15px;
  /* Set the width of the logo image */
  height: auto;
  /* Maintain aspect ratio */
}

.Nav-link {
  color: var(--raisin-black);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.Nav-link:hover {
  color: var(--jungle-green);
  /* Light color on hover */
}

.Nav {
  display: flex;
  align-items: center;
  /* Vertically center the items */
  flex-grow: 1;
  /* Ensures the nav takes up remaining space */
}

.Nav-link-logo {
  margin-right: 1rem;
  /* Adds padding between logo and first nav link */
}

/* Icons Section */
.Nav-icons {
  display: flex;
  /* Aligns icons horizontally */
  align-items: center;
  /* Vertically centers the icons */
  margin-left: auto;
  /* Pushes the icons to the far right */
}

.Nav-icon {
  color: var(--raisin-black);
  /* White color for icons */
  margin-left: 1rem;
  /* Adds space between icons */
  text-decoration: none;
  /* Removes underline on links */
}

.Nav-icon:hover {
  color: var(--jungle-green);
  /* Light color on hover for icons */
}

.Nav-link.active {
  text-decoration: underline;
  text-underline-offset: 9px; /* Adjust underline distance from text */
  text-decoration-thickness: 1px; /* Controls the thickness */
}